<form action="" (ngSubmit)="onSubmit()">
    <h2>Registrar un nuevo articulo</h2>
    <div>
        <label for="">Numero de cliente</label>
        <input type="text" name="id" id="" [(ngModel)]="id"> 
    </div>
        <label for="">Nombre del Cliente</label>
        <input type="text" name="title" id="" [(ngModel)]="title">
    <div>
        <label for="">Numero de Personas</label>
        <input type="text" name="price" id="" [(ngModel)]="price">
    </div>
    <div>
        <label for="">Cliente frecuente</label>
        <input type="text" name="price" id="" [(ngModel)]="price">
    </div>
    <div>
        <label for="">Cantidad de Telefono</label>
        <input type="text" name="quantity" id="" [(ngModel)]="quantity">
    </div>

    <input type="submit" value="Clear">

</form>
